{% extends "ptfbase.html" %}
{% load photo %}

{% block content %}
    <div class="main">
        <!-- Image -->
        {% if image.title %}
            <div class="title">{{ image.title }}</div>
        {% endif %}

        <div id="img-desc">
            <img border="0" alt="" src="{{ image.image_url }}" {% if image.width > 800 %} width="800" {% endif %} />

            <div id="edit-view">
                {% if not view.edit and user.is_authenticated %} <a href="?edit=1">edit</a> {% endif %}
            </div>

                {% if view.edit %}
            <form id="image" action="" method="post" accept-charset="utf-8">{% csrf_token %}
                <table id="update-form">

                    <tr>
                    {% for field in modelform %}
                        <td>{{ field.label }}</td>
                    {% endfor %}
                    </tr>

                    <tr>
                    {% for field in modelform %}
                        <td>{{ field }} {{ field.errors }}</td>
                    {% endfor %}
                    </tr>
                </table>
                <ul><input type="submit" value="Update" /></ul>
            </form>
            {% else %}
                <p>{{ image.description }}</p>
            {% endif %}
        </div>

    </div>

{% endblock %}
