<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Blog{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    <link rel="stylesheet" href="/media/css/blog.css" type="text/css" media="screen" charset="utf-8" />

</head>

<body>

    <!-- SIDEBAR -->
    <div id="sidebar"> {% block sidebar %}{% endblock %} </div>

    <div id="container">

        <!-- MENU -->

        <div id="menu">
            {% block nav-global %}

                <h3>MyBlog</h3>
                {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}">Admin</a>
                    <a href="{% url 'admin:blog_post_add' %}">Add post</a>
                {% endif %}

            {% endblock %}
        </div>

        <!-- CONTENT -->

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>

