{% extends "bbase.html" %}
{% block content %}
    <div class="main">

        <div class="title">{{ post.title }}</div>
        <ul>
            <div class="time">{{ post.created }}</div>
            <div class="body">{{ post.body|linebreaks }}</div>
        </ul>

        <hr />

        {% for comment in comment_list %}
            <ul>
                <div class="time">{{ comment.author }}</div>
                <div class="body">{{ comment.body|linebreaks }}</div>
            </ul>
        {% endfor %}


        <div id="reply">
        <form action="" method="POST"> {% csrf_token %}
            <table>
                {{ modelform.as_table }}
            </table>
            <input type="submit" value="Submit" />
        </form>
        </div>
    </div>
{% endblock %}
