{% extends "bqbase.html" %}
{% block content %}
    <div class="main">
        {% if view.request.session.left <= 0 %}
            <pre>
            　　　／ ,,-",-''i|　　￣|i''-､　　ヾ　　　{
　　　　　　　　 （"　　.／ 　 i　{;;;;;;;i|　　　 .|i;;;;;;）　,ノ　　　 ii
　　　　 ,,　　　　　　 （　　　 l,　`'-i|　　　　|i;;-'　　　　 ,,-'"　　　_,,-"
　　　　　"'-,,　　　　　`-,,,,-'--'':::￣:::::::''ニ;;-==,_____　'"　　_,,--''"
　　　　　　　 ￣"''-- _-'':::::"￣::::::::::::::::;;;;----;;;;;;;;::::`::"''::---,,_　　__,,-''"
　　　　　　　　._,,-'ニ-''ニ--''"￣.i|￣　　　|i-----,,￣`"''-;;::''-`-,,
　　　　　　,,-''::::二-''"　　　　 .--i|　　　　 .|i　　　　　　　　　 "- ;;:::`､
　　　　._,-"::::／　　　￣"''---　 i|　　　　　|i　　　　　　　　　　　　ヽ::::i
　　　 .（:::::{:（i(____　　　　　　　　 i|　　　　　.|i　　　　　　　　　　_,,-':/:::}
　　　　 `''-,_ヽ:::::''- ,,__,,,,　_______i|　　　　　 .|i--__,,----..--'''":::::ノ,,-'
　　　　　　　"--;;;;;;;;;;;;;;;;;""''--;;i|　　　　　　.|i二;;;;;::---;;;;;;;::--''"~
　　　　　　　　　　　　　 ￣￣"..i|　　　　 　　.|i
　　　　　　　　　　　　　　　　　.i|　　　　　　　 |i
　　　　　　　　　　　　　　　　　i|　　　　　　　　|i
　　　　　　　　　　　　　　　　 .i|　　 　 　　　　 .|i
　　　　　　　　　　　　　　　　 i|　　　　　　　　　|i
　　　　　　　　　　　　　　　 .i|　　　　 　　　　　　|i
　　　　　　　　　　　　　　　.i|　　　　　　,,-､　､　　|i
　　　　　　　　　　　　　　 i|　　　　　　ノ::::i:::トiヽ､_.|i
　　　　　　　　　　　_,,　　i|/"ヽ／:iヽ!::::::::ﾉ:::::Λ::::ヽ|i__n､ト､
　　　　　,,／^ヽ,-''":::i／::::::::／:::::|i／;;;;;;/::::;;;;ノ⌒ヽノ::::::::::::ヽ,_Λ
　　　　　;;;;;;:::::;;;;;;;;;;:::::;;;;;;;;:::/;;;;;;:::::::::;;;;;;/;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:::::::::::;;:;;;;:::ヽ
            </pre>
        {% else %}
            You've disabled the bomb and won the game!!
        {% endif %}
        <p><a href="{% url 'new_player' %}">back to main page</a></p>
    </div>
{% endblock %}
