<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}ForumApp{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/forum.css" type="text/css" media="screen" charset="utf-8" />
</head>

<body>
    <div id="container">
        <div id="menu">
            {% block nav-global %}
                <h3><a id="homelink" href="{% url 'forum_main' %}">ForumApp</a></h3>

                <!-- MENU -->
                {% if user.is_staff %} <a href="{% url 'admin:index' %}">Admin</a> {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' user.profile.pk %}">Edit profile</a>
                    <a href="/accounts/logout/?next=/forum/">logout</a>
                {% else %}
                    <a href="/accounts/login/?next=/forum/">login</a> <a href="/accounts/register/">register</a>
                {% endif %}

            {% endblock %}
        </div>

        <div id="content"> {% block content %}{% endblock %} </div>
    </div>

</body>
</html>

