
* {
    color: #444;
    font-size: 0.95em;
}

#menu a {
    text-decoration: none;
    background: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 2px solid #fff;
    padding-right: 3px;
    padding-left: 3px;
    color: #777;
    font-size: 0.9em;
}

a:hover {
    background: #eeebeb;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #555;
}


.main { margin-left: 25px; margin-top: 30px; }
.messages { margin-left: 20px; }
.pagination { margin-top: 20px; margin-left: 20px; }

.title { font-size: 1.4em; margin-top: 20px; border-bottom: 1px solid #ccc;
    padding-left: 4px; margin-left: 5px;
}

#sidebar { float: right; border: 1px dotted #ccc; padding: 4px; }
#container { margin: auto; width: 800px; border: 1px solid #555; padding: 20px; }

p { font-size: 1.1em; }
h3 { margin-right: 30px; display: inline; }
